<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar color="primary">

      <button class="callBack" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      
      <ion-title>Liste des frais</ion-title>
    </ion-toolbar>

    <ion-toolbar class="add-element">
      <ion-button color="secondary" routerLink="/new-frais">+</ion-button>
    </ion-toolbar>

  </ion-header>

  <div class="space"></div>

  <ion-card *ngFor="let data of fraisData">

    <ion-card-header [ngSwitch]="data.idTypeFrais">
      <ion-card-title *ngSwitchCase="25">repas {{ data.montant }}€
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      <ion-card-title *ngSwitchCase="26">transport {{ data.montant }}€
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      <ion-card-title *ngSwitchCase="27">péage {{ data.montant }}€
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      <ion-card-title *ngSwitchCase="28">carburant {{ data.montant }}€
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      <ion-card-title *ngSwitchCase="29">kilometrique {{ data.montant }}€
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      <ion-card-title *ngSwitchCase="30">hébérgement {{ data.montant }}€
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      <ion-card-title *ngSwitchCase="31">achat {{ data.montant }}€
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      <ion-card-title *ngSwitchCase="32">divers {{ data.montant }}€
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      <ion-card-title *ngSwitchDefault>{{ data.montant }}€ 
      <button class="boutonFrais" (click)="frais(data)"><img src="../assets/icon/pen.png" ></button>
      </ion-card-title>
      
      
      <hr color="primary">
    </ion-card-header>

  </ion-card>
</ion-content>

