<ion-header>
  <ion-toolbar color="primary">
    <ion-title>3xpense Commercial</ion-title>
  </ion-toolbar>
</ion-header>
<div class="space"></div>
<ion-content>
 <!-- <ion-card color="Light-shade">
    <ion-card-content>--> 
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-input type="text" name="email" [(ngModel)]="identifiants.username" placeholder="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" name="password" [(ngModel)]="identifiants.password"  placeholder="mot de passe"></ion-input>
      </ion-item>

      <ion-button expand="block" color="secondary" type="submit" class="ion-no-margin">Connexion</ion-button>
    </form>
 <!--  </ion-card-content>
  </ion-card>-->
</ion-content>