<ion-content [fullscreen]="true">

  <ion-header>

    <ion-toolbar color="primary">
    
      <button class="callBack" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>

      <ion-title>Trajets</ion-title>

    </ion-toolbar>

    <ion-toolbar class="add-element">
      <ion-button color="secondary" routerLink="/new-trajet">+</ion-button>
    </ion-toolbar> 

  </ion-header>

  <div class="space"></div>

  <ion-card *ngFor="let data of trajetData" (click)="affiche(data.id)">
    <ion-card-header>
      <ion-card-title>{{ data.label }}</ion-card-title>
      <hr color="primary">
    </ion-card-header>
    <ion-card-content *ngIf="data.visible">
      
      <ion-item>
        <button class="boutonEdit" (click)="listFrais(data.id)"><img src="../assets/icon/list2.png" ></button>
      </ion-item>

      <ion-item>
        <ion-text>
          {{ data.dateDebut }}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
          {{ data.dateFin }}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
          {{ data.commentaire }}
        </ion-text>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>

